@import 'base/_reset';
@import 'abstracts/_variables';
@import 'abstracts/_mixins';
@import 'themes/dark-mode';
@import 'layout/_navigation';
@import 'layout/_footer';
@import 'pages/home';
@import 'pages/about';
@import 'pages/sermon';
@import 'pages/blog';
@import 'pages/blog_post';
@import 'pages/sermon-event';
@import 'pages/contact';
@import 'humburger/_hamburger';


/* CSS styles */
@keyframes blink {
    0% {
      content: "Welcome!";
    }
    1%{
      content: "Welcome!";
    }
    50% {
      content: "Animate me!";
    }
    100% {
      content: "I'm blinking!";
    }
}
  