$primary-bg-color: #fff;
$secondary-bg-color: #E5E5E5;
$main-text-color: #22343D;
$hover-ham-color: orange;


// HUMBURGER DARK MODE
.navbar,
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}




// .logo{
    //     filter: invert(1);
    // }
    
    // body.dark .logo{
        //   filter: invert(0);
        // }
        
.navbar{
    box-shadow: 0px 5px 10px 0px #303030;
    position: fixed;
    width: 100%;
    background: #070707;
    color: #000;
    // opacity: 0.85;
    height: 50px;
    z-index: 12;
}


@media (max-width: 860px) {
    .navbar {
        opacity: 0.95;
        display: block;
        z-index: 13;
    }
    
    #navbar{
        display: none;
    }
    
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }
    
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }
    
    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    
    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fefefe;
    }
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
        padding-top: 100px;
        background: #0D0D0D;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #141313;
        z-index: 2;
    }
    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
        a{
            display: inline-block;
            position: relative;
            color: #e1d8d8 ;
        }
        a::after{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $hover-ham-color;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }
        a:hover::after{
            color: black;
            transform: scaleX(1);
            transform-origin: bottom left; 
            transition: .3s ease-in-out;  
        }
        a:active{
            color: #0463d0;
        }
        .nav_b{
            font-weight: bold;
        }
    }

    
    
    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
        z-index: -1;
    }
    
    body.dark{
        svg{
            fill: #fff;
        }
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
    .cardm {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 46.64%;
        left: 160px;
        bottom: 0;
    }
    
    .card {
        position: absolute;
        width: 250px;
        height: 130px;
        border-radius: 25px;
        background: rgb(63, 219, 28);
        color: black;
        z-index: 2;
        transition: .4s ease-in-out;
    }
    
    .weather {
        position: relative;
        margin: 1em;
    }
    
    .main {
        font-size: 2em;
        position: relative;
        top: -3em;
        left: 4.3em;
    }
    
    .mainsub {
        position: relative;
        top: -10.2em;
        left: 14em;
        font-size: 0.6em;
      }
      
      .card2 {
          position: absolute;
          display: flex;
          flex-direction: row;
          width: 240px;
          height: 130px;
          border-radius: 35px;
          background: white;
          z-index: -1;
          transition: .4s ease-in-out;
        }
        
        .card:hover {
            background-color: #FFE87C;
            cursor: pointer;
        }
        
        .card:hover + .card2 {
            height: 300px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        
        .card:hover + .card2 .lower {
            top: 20.2em;
        }
        
        .upper {
            display: flex;
            flex-direction: row;
            position: relative;
            color: black;
            left: 1.8em;
            top: 0.5em;
            gap: 4em;
        }
        
        .humiditytext {
        position: relative;
        left: 3.6em;
        top: 2.7em;
        font-size: 0.6em;
    }
    
    .airtext {
        position: relative;
        left: 3.8em;
        top: 2.7em;
        font-size: 0.6em;
    }
    
    .lower {
        display: flex;
        flex-direction: row;
        position: absolute;
        text-align: center;
        color: black;
        left: 3em;
        top: 1em;
        margin-top: 0.7em;
        font-size: 0.7em;
        transition: .4s ease-in-out;
    }
    
    .aqi {
        margin-right: 3.25em;
    }
    
    .realfeel {
        margin-right: 1.8em;
    }
    
    .card3 {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 30px;
        top: 4.7em;
        left: -2.4em;
        font-size: 1.24em;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        background: limegreen;
        transition: .4s ease-in-out;
    }
}  
// HUMBURGER DARK MODE


