@use "../abstracts/_mixins";
@use "../abstracts/_variables";

// COLORS
$black: #161722;
$primary-color: #ffd2a4;
$light-orange: #fff5eb;
$grey: #f5f2f0;
$white: #ffffff;
// BREK POINTS FOR MEDIA
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

$rem-base: 16px;

#home {
  position: relative;
  // background-image: url('../../assets/images/home/home-main-bg-1.jpg');
  padding-top: 100px;
  @include media(768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  // background-size: cover;
}

.home {
  position: relative;
  &_title {
    @include media(768px) {
      max-width: 100%;
    }
    @include media(470px) {
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
    }
    position: relative;
    z-index: 10;
    margin-top: 128px;
    padding-bottom: 128px;
    max-width: 50%;
    .welcome {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #ffffff;
    }
    h1 {
      margin-top: 16px;
      @include heading(h1);
      color: #ffffff;
    }
    a {
      margin-top: 32px;
      @include button($primary-color, $black, 24px, 64px, 12px);
    }
    .home_info {
      margin-top: 64px;
      // @include flexbox(row, flex-start, center);
      gap: 12px;
      p {
        position: relative;
        @include paragraph;
        color: #ffffff;
        padding-left: 30px;
      }
      p::before {
        @include media(470px) {
          background-color: transparent;
        }
        content: "";
        position: absolute;
        top: 25%;
        left: 0;
        transform: translateX(0px);
        width: 20px; /* Width of the line */
        height: 2px; /* Height of the line */
        background-color: #e2aa55;
        // margin-right: 10px;
      }
    }
  }
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-out;
  z-index: 0;
}

.mySlides.fade.active {
  opacity: 1;
}

// second section

.church {
  &_title {
    .label_2 {
      margin-top: 128px;
      @include label(label2);
      text-align: center;
    }
    h2 {
      margin-top: 16px;
      @include heading(h2);
      text-align: center;
    }
    &-card_container {
      margin-top: 64px;
      @include flexbox(row, space-between, center);
      @include media(960px) {
        @include flexbox(row, space-between, center);
        flex-wrap: wrap;
        .ch_card:first-child {
          flex-basis: 45%;
          @include media(665px) {
            flex-basis: 100%;
          }
        }
        .ch_card:nth-child(2) {
          flex-basis: 45%;
          @include media(665px) {
            flex-basis: 100%;
          }
        }
        .ch_card:nth-child(3) {
          flex-basis: 100%;
          @include media(665px) {
            flex-basis: 100%;
          }
        }
        .ch_card {
          position: relative;
        }
      }

      gap: 24px;
      .ch_card {
        margin-bottom: 100px;
        position: relative;
        padding: 80px;
        background: $light-orange;
        width: 33%;
        overflow: hidden;
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
        @include flexbox(column, flex-start, flex-start);
        img {
          background: $primary-color;
          padding: 12px;
          border-radius: 50%;
          z-index: 1;
          transition: all 0.3s ease-in;
        }
        .for_card {
          position: absolute;
          display: none;
          right: 20px;
          top: 39px;
          @include media(960px) {
            display: block;
            @include media(665px) {
              display: none;
            }
          }
        }
        h4 {
          margin-top: 24px;
          @include heading(h4);
          z-index: 1;
        }
        p {
          transition: max-height 0.3s ease-in;
          @include paragraph;
          z-index: 1;
        }
        .third_card {
          @include media(960px) {
            width: 60%;
            @include media(665px) {
              width: 100%;
            }
          }
        }
        .hover_line {
          position: absolute;
          height: 16px;
          width: 100%;
          left: 0;
          bottom: 0;
          background-color: $primary-color;
          transition: height 0.6s ease-in;
        }
      }
      .ch_card:hover {
        img {
          transition: all 0.3s ease-out;
          background: #f5f2f0;
        }
        .hover_line {
          transition: height 0.6s ease-out;
          height: 100%;
        }
      }
    }
  }
}

// third section

.love {
  &_title {
    @include flexbox(column, center, center);
    margin: 0 auto;
    width: 68%;
    .sub {
      text-align: center;
    }
    h2 {
      margin-top: 16px;
      @include heading(h2);
      text-align: center;
    }
    p {
      margin-top: 32px;
      @include paragraph;
      text-align: center;
    }
    .read_more {
      margin-top: 56px;
      @include button($primary-color, $black, 24px, 64px, 12px);
    }
  }
  &_card_container {
    margin-bottom: 186px;
    @include flexbox(row, space-between, center);
    flex-wrap: wrap;
    @include media(1000px) {
      margin-top: 35px;
      @include flexbox(row, center, center);
      gap: 100px;
    }
    .first_imag1 {
      @include media(1000px) {
        flex-basis: 50%;
      }
    }

    .first_img2 {
      transform: translateY(140px);
      @include media(1000px) {
        margin: 0 auto;
        flex-basis: 80%;
        order: 3;
        // height: 500px;
      }
      @include media(1000px) {
        flex-basis: 50%;
        transform: translateY(0px);
      }
      @include media(430px) {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  &_title2 {
    padding-bottom: 128px;
    width: 45%;
    margin: 0 auto;
    @include media(768px) {
      width: 70%;
    }
    @include media(430px) {
      width: 100%;
    }
    .label_2 {
      @include label(label2);
      text-transform: uppercase;
      text-align: center;
    }
    h4 {
      margin-top: 16px;
      @include heading(h4);
      text-align: center;
    }
    p {
      margin-top: 16px;
      @include paragraph;
      text-align: center;
    }
    .wrap {
      margin-top: 16px;
      text-align: center;
      transition: 0.3s ease-out;
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        // display: flex;
        // // align-items: flex-end;
        color: #161722;
      }
      img {
        transition: 0.3s ease-in;
      }
    }
    .wrap:hover {
      img {
        transition: 0.3s ease-out;
        transform: translateX(10px);
      }
    }
  }
}

// fourth section
.benefit {
  padding: 128px 0;
  background-color: $grey;
  &_title {
    @include media(660px) {
      width: 80%;
    }
    width: 40%;
    margin: 0 auto;
    .lab {
      @include label(label2);
      text-align: center;
    }
    h2 {
      text-align: center;
      @include heading(h2);
    }
  }
  &_container {
    -top: 78px;
    margin: 0 auto;
    @include flexbox(row, space-between, center);
    @include media(1050px) {
      display: grid;
      grid-template-columns: 300px 300px;
    }
    @include media(660px) {
      margin-top: 20px;
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
      // transform: translateX(50%);
    }
    @include media(450px) {
      grid-template-columns: 1fr;
    }
    gap: 20px;
    .benefit_card {
      // background-image: url('../../assets/images/home/benefits-1.png');
      position: relative;
      overflow: hidden;
      width: 100%;
      @include media(660px) {
        margin: 0 auto;
        align-self: center;
      }
      img {
        transition: 0.5s all ease;
      }
      h5 {
        transition: 0.8s all ease;
        position: absolute;
        width: 302px;
        top: 300px;
        z-index: 4;
        @include heading(h5);
        color: $white;
        padding-left: 10px;
        padding-right: 10px;
        // @include media(1050px){
        //     top: 470px;
        // }
        // @include media(900px){
        //     top: 400px;
        // }
      }
      .intro {
        position: absolute;
        padding: 20px;
        top: 270px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        transition: 0.8s all ease;
        color: #ccc;
        transform: translateY(100px);
        opacity: 0;
        width: 302px;
        // background: red;
        // @include media(1050px){
        //     top: 450px;
        // }
        // @include media(900px){
        //     top: 370px;
        // }
      }
      &:hover {
        h5 {
          transition: 0.5s all ease;
          transform: translateY(-80px);
        }
        img {
          transition: 0.5s all ease;
          filter: grayscale(80%) blur(5px);
        }
        .intro {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}

// <!-- Fifth section start -->

.join__header {
  padding: 128px 0;
}

.join__title {
  text-align: center;
}

.join_suptitle {
  line-height: 19px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #161722;
}

.join_subtitle {
  padding: 16px 0 64px;
  max-width: 554px;
  margin: 0 auto;
  letter-spacing: -0.01em;
  line-height: 64px;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #161722;
}

.join__card {
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 435px;
  padding: 57px 0 0 88px;
  background-color: #fff5eb;
}

.join_right {
  display: flex;
  align-items: center;
}

.join_right img {
  width: 100%;
}

.join_title {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 0.08em;
  font-style: normal;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.join_sub {
  padding: 16px 100px 16px 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #161722;
}

.join_text {
  padding: 0 50px 32px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.data,
.data2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.data_title {
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #161722;
}

.data_next,
.data_next2 {
  padding: 0 0 16px 35px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #161722;
}

.data_next2 {
  padding-bottom: 32px;
}

.sermon__btn {
  margin-bottom: 50px;
  border: none;
  outline: none;
  padding: 24px 64px;
  background: #161722;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffd2a4;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: 0.5s;
}

.sermon__btn:hover {
  color: white;
}

.join_next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 44px 0 0;
  gap: 11px;
}

.join_next h2 {
  line-height: 32px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #161722;
}

@media (max-width: 900px) {
  .join__card {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }

  .content {
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .content {
    padding: 1rem;
  }
}



.around{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(109.61deg, #f9895c2f -53.83%, #faaf644c 62.61%), url('../../assets/images/home/castle-we_want-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    &_title{
        position: relative;
        padding: 72px;
        display: flex;
        align-items: center;
        gap: 50px;
        margin: 182px 0;
        background: #FFFFFF;
        // backdrop-filter: blur(2px);
        @include media(450px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .around_left{
            
            @include media(636px){
                background: url('../../assets/images/home/Quote\ icon.svg');
                background-repeat: no-repeat;
                background-position: center center;
            }


            max-width: 370px;
            h2{
                @include media(450px){
                    text-align: center;
                }
                position: relative;
                z-index: 1;
                @include heading(h2);
                
            }
            p{
                @include media(450px){
                    text-align: center;
                }
                position: relative;
                z-index: 1;
                margin: 16px 0;
                @include paragraph;
            }
            .visit{
                @include media(450px){
                    width: 100%;
                }
                position: relative;
                z-index: 1;
                @include button($primary-color, $black, 24px, 64px, 12px);
            }
        }
        .botm_line{
            position: absolute;
            width: 100%;
            height: 16px;
            bottom: 0;
            background: $primary-color;
            left: 0;
            transition: height 0.8s ease-in;
        }
        img{
            position: relative;
            z-index: 1;
            width: 187px;
            @include media(636px){
                display: none;
            }
        }
        &:hover{
            .botm_line{
                height: 100%;
            }
            .visit{
                @include button($black, $primary-color,24px, 64px, 12px );
                
            }
            .visit:hover{
                color: #FFFFFF;
            }
        }
    }
}

.t_c{
    margin-top: 128px;
    text-align: center;
}